body {
    background-color:white;
    text-align: center;
}

.google-logo {
    margin-top: 190px;
    padding-bottom: 23px;
}

.rounded {
    border: thin solid rgb(226, 222, 222);
    border-width: 1px;
    border-radius: 20px;
    width: 480px;
    height: 43px;
}
.button {
    margin-top: 28px;
    border: none;
    color: gray;
    background-color: rgba(51, 51, 51, 0.055);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    border-radius: 3px;
    margin-right: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button:hover {
    border: solid 1px rgba(187, 185, 185, 0.747);
    border-radius: 3px;
    color: black;
}